table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

table td {
  padding: 15px;
}

table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}

table tbody tr {
  background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.red-row {
  background-color: lightpink;
  color: black;
}

table tbody tr.red-row:nth-child(odd) {
  background-color: lightpink;
  color: black;
}

body {
  font-family: sans-serif;
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}